[submodule "src/https_client"]
	path = src/https_client
	url = https://github.com/glvz/https_client
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
